<header>
  {{model.name}}
  <small>
    {{model.path}}
  </small>
</header>

<ul class="directories">
  {{#each model.directories as |directory|}}
  <li>
    <header>{{directory.name}}</header>
    <small>{{directory.path}}</small>
    {{#if directory.torrents.length}}
      <span class="torrents_count">
        Torrents:
        {{directory.torrents.length}}
      </span>
      <span class="space">
        Accounted Space:
        {{human-kilo-bytes directory.sizeBytes}}
      </span>
      <ul class="torrents">
        {{#each directory.torrents as |torrent|}}
          <li>
            <span class="name">{{torrent.name}}</span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
  {{/each}}
</ul>

{{outlet}}
