<header class="title">
  {{model.name}}
  <small>
    {{model.path}}
  </small>
</header>

<a {{action "index" model}}>Index</a>

<ul class="directories">
  {{#each model.directories as |directory|}}
  <li>
    <header>
      {{directory.name}}
      <small>{{directory.path}}</small>
    </header>
    {{#if directory.torrents.length}}
      <span class="stats">
        <span class="torrents_count">
          {{pluralize directory.torrents.length "Torrent"}}
        </span>
        <span class="space">
          using
          {{human-kilo-bytes directory.sizeBytes}}
        </span>
      </span>
      <ul class="torrents">
        {{#each directory.torrents as |torrent|}}
          <li>
              <span>
                <span class="name">{{torrent.name}}</span>
                <span class="space">{{human-kilo-bytes torrent.sizeBytes}}</span>
              </span>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </li>
  {{/each}}
</ul>

{{outlet}}
