<header>
  {{model.name}}
  <small>
    {{model.path}}
  </small>
</header>

<ul>
  {{#each model.directories as |directory|}}
  <li>
    <header>{{directory.name}}</header>
    <small>{{directory.path}}</small>
    {{#if directory.torrents.length}}
      <span class="torrents_count">
        Torrents:
        {{directory.torrents.length}}
      </span>
    {{/if}}
  </li>
  {{/each}}
</ul>

{{outlet}}
