{{outlet}}

<ul>
  {{#each content as |transfer|}}
  <li>
    <h4>{{transfer.id}}</h4>
    <span>{{transfer.upRate}}|{{transfer.downRate}}</span>
    <span>{{transfer.completedBytes}}/{{transfer.sizeBytes}}</span>
    <p>{{transfer.ratio}}</p>
  </li>
  {{/each}}
</ul>
